cpu_optimization="yes"
# "yes": Use native gcc optimizations
# "no": Disable any optimization
# or define your cpu family in _cpu_optimization. Supported codenames listed bellow
# "ATOM"
# "CORE2"
# "NEHALEM"
# "WESTMERE"
# "SILVERMONT"
# "SANDYBRIDGE"
# "IVYBRIDGE"
# "HASWELL"
# "BROADWELL"
# "SKYLAKE"
# If you have AMD cpu - just define "yes"

use_modprobed="no"
# "yes" Use modprobed-db to load modules

tc_path=""
# Write path to your compiled toolchan, please, write like in this example
# example: "/home/haze/x-tools/x86_64-pc-linux-gnu/bin/x86_64-pc-linux-gnu-" 

use_reiser="no"
# Currently not implemented

disable_numa="yes"
# If your pc have more then 1 CPU(not thread or core) define here "no"

hard_optimization="yes"
# Maybe unstable, define "no" if you had any problems with it
