cpu_optimization="yes"
# "auto": Use function to detect CPU name, works only with INTEL CPU's !!!
# "yes": Use native gcc optimizations
# "no": Disable any optimization
# or define your cpu family in _cpu_optimization. Supported codenames listed bellow
# "ATOM"
# "CORE2"
# "NEHALEM"
# "WESTMERE"
# "SILVERMONT"
# "SANDYBRIDGE"
# "IVYBRIDGE"
# "HASWELL"
# "BROADWELL"
# "SKYLAKE"
# If you have AMD cpu - just define "yes"

use_modprobed="no"
# "yes" Use modprobed-db to load modules

tc_path=""
# Write path to your compiled toolchan, please, write like in this example
# example: "/home/"USERNAME"/"PATH_TO_TOOLCHAIN"/bin/x86_64-linux-" 
# example: "/home/haze/Git/DESKTOP-TC/bin/x86_64-linux-"
# You can get our toolchains at github.com/QUVNTNM-TC/DESKTOP-TC

use_reiser="no"
# Enable reiser4 in kernel

disable_numa="yes"
# If your pc have more then 1 CPU(not thread or core) define here "no"

hard_optimization="yes"
# Maybe unstable, define "no" if you had any problems with it
