cpu_optimization="true"
# "true" to Enable CPU optimizations
# "false" to Disable CPU optimizations

use_modprobed="false"
# "yes" Use modprobed-db to load modules

tc_path=""
# Write path to your compiled toolchan, please, write like in this example
# example: "/home/"USERNAME"/"PATH_TO_TOOLCHAIN"/bin/x86_64-linux-"
# example: "/home/haze/Git/DESKTOP-TC/bin/x86_64-linux-"
# You can get our toolchains at github.com/QUVNTNM-TC/DESKTOP-TC

disable_numa="true"
# If your pc have more then 1 CPU(not thread or core) define here "no"

hard_optimization="true"
# Maybe unstable, define "no" if you had any problems with it
